.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.password-strength-meter {
  margin-top: 10px;
}

.password-strength-bar {
  height: 5px;
  border-radius: 3px;
  background-color: red;
}

.password-strength-text {
  margin-top: 5px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group .btn {
  border-radius: 0 0.25rem 0.25rem 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
